@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.poppins-font {
    font-family: "Poppins", sans-serif;
  }

  /* navbar section starts here  */
  .navbar{
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 25px;
    /* border: 2px solid red; */
  }
  .hamburger-icon,.checkout-icon{
    display: none;
  }
  .navbar-links-container{
    display: flex;
    align-items: center;
  }
  .navbar-links-container li{
    list-style: none;
  }
  .link{
    text-decoration: none;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 500;
  }
  .navbar-title{
    font-size: 1.5rem;
    font-weight: 700;
  }
  /* navbar section ends here  */



  @media screen and (max-width: 576px) {
    .navbar-links-container{
        display: none;
    }
    .hamburger-icon,.checkout-icon{
        display: block;
    }
    .navbar{
        max-width: 1300px;
        display: flex;
        justify-content: space-around;
      }


    
  }